body{background-color:lemonchiffon;}
.f1{background-color:white;margin-right: 250px;}
.span1{background-color: orange}
.span2{background-color: orange}
.span3{background-color: yellow}
.div1{border-style: dotted; background-color: white; margin-right: 250px}
h3{font-size: 20px}
.div2{border-style: dotted;border-color: red;background-color: white; margin: 25px 25px 25px 25px}
.span4{background-color: orange}
.span5{background-color: yellow}
.f2{background-color:white;margin-right: 250px; color: blueviolet}
.span6{background-color: yellow}
.span7{background-color: yellow}
.span8{background-color: yellow}