h1{color: orange; font-size: 60px;}
h2{text-align: right;font-size: 60px;}
#p1{font-family: monospace; font-size: 30px;}
#p2{font-family: 'Courier New', Courier, monospace; text-align: right; font-size: 30px;}